#**ðŸ“˜ CSV.Writer() Deep Dive for Data Engineers**
 ðŸŽ¯ **Best Practices for Data Engineers:**
 - **escapechar**  will escape any occurrences of the delimiter (,) or the quote character (") in the fields, so instead writing the data such that ['ahmed\\"alaa\\"'] that parameter handles that

 - Always use `newline=''` in open()
 - Sanitize and validate data (replace None, strip whitespaces)
 - Use escaping when text contains quotes or special characters
 - Use `QUOTE_ALL` for safety when exporting to other systems
 - Choose appropriate line terminators for cross-platform compatibility
 - Stream large datasets row-by-row instead of loading all into memory

# ------------------------------------------------
# ðŸ§  Pro Tip: Export large datasets safely
# Instead of writing all at once, use batch processing or streaming

#**Default Cases Handled by csv.writer()**
1-Commas in fields: Automatically quoted.

2-Newlines inside fields: Automatically quoted.

3-Quotes inside fields: Automatically doubled.

4-Leading/trailing spaces: Preserved inside quoted fields.

5-Empty fields: Written as empty strings.

6-Unicode characters: Handled when the file is opened with the correct encoding.

7-Numeric values: Automatically converted to strings.

In [92]:
# ðŸ›  Setup: Create Example Data
people = [
    ["Name", "Age", "City", "Bio"],
    ["John Doe", 29, "New York", "Loves coding, reading, and \"movies\""],
    ["Jane Smith", 34, "Los Angeles", "Enjoys hiking, painting"],
    ["Tom Hanks", 60, "Hollywood", "Actor, director, and producer"],
    ["Sarah, Connor", 45, "Chicago", "Famous for \"saving the world\""]
]

# ------------------------------------------------
# ðŸ“„ Example 1: Basic csv.writer (Default Settings)
'''
                  Default Settings
dialect='excel',
delimiter=',',
quotechar='"',
quoting=csv.QUOTE_MINIMAL,
escapechar=None,          #Because we made the escaping by ourselves
doublequote=True,
lineterminator='\r\n',
skipinitialspace=False,
strict=False

'''

import csv

with open('people_basic.csv', 'w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(people)

print("âœ… people_basic.csv created!")

âœ… people_basic.csv created!

In [93]:
people = [
    ["Name", "Age", "City", "Bio"],
    ["John Doe", 29, "New York", "Loves coding, reading, and \"movies\""],
    ["Jane Smith", 34, "Los Angeles", "Enjoys hiking, painting"],
    ["Tom Hanks", 60, "Hollywood", "Actor, director, and producer"],
    ["Sarah, Connor", 45, "Chicago", "Famous for \"saving the world\""]
]



#ðŸ“„ Example 2: Quoting  comes with quotechar
# write the data to txt file to undestand the differences between QUOTE_MINIMAL ,QUOTE_ALL
with open('people_quote_all.txt', 'w', newline='', encoding='utf-8') as file:
    #writer = csv.writer(file,quoting=csv.QUOTE_MINIMAL,quotechar="'") # will quote all fields
    writer = csv.writer(file,quoting=csv.QUOTE_ALL,quotechar="'",escapechar='\\') # will quote all fields
    writer.writerows(people)

print("âœ… people_quote_all.csv created!")

âœ… people_quote_all.csv created!

In [94]:
import csv

# Open a CSV file for writing
with open('example.csv', mode='w', newline='') as file:
    #writer = csv.writer(file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    writer = csv.writer(file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL,escapechar='\\' )

    # Writing rows to the CSV file
    writer.writerow(['Name', 'Age', 'Address'])
    writer.writerow(['John Doe', 28, '123, Main St.'])  # Comma inside address
    writer.writerow(['Jane Smith', 34, '456" Oak St.'])  # Quote inside address
    writer.writerow(['Sarah O\'Connor', 45, '789\ Park Ave.'])  # Backslash inside address

print("CSV file created with escapechar.")

CSV file created with escapechar.

In [95]:
import csv

# Open a CSV file for writing
with open('exampleeeee.csv', mode='w', newline='') as file:
    writer = csv.writer(file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL, escapechar='\\')

    # Writing rows to the CSV file
    writer.writerow(['Name', 'Age', 'Address'])
    writer.writerow(['John Doe', 28, '123, Main St.'])  # Comma inside address
    writer.writerow(['Jane Smith', 34, '456" Oak St.'])  # Quote inside address
    writer.writerow(['Sarah O\'Connor', 45, '789\\ Park Ave.'])  # Backslash inside address

print("CSV file created with escapechar.")

CSV file created with escapechar.

In [96]:
#Handling None Values at first
# Replace None with an empty string before writing
people_with_none = [
    ["Name", "Age", "City"],
    ["Alice", None, "Boston"],
    ["Bob", 30, None]
]

cleaned_people = [[col if col is not None else '' for col in row] for row in people_with_none]
print(cleaned_people)
with open('people_cleaned.csv', 'w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(cleaned_people)

print("âœ… people_cleaned.csv created!")

[['Name', 'Age', 'City'], ['Alice', '', 'Boston'], ['Bob', 30, '']]
âœ… people_cleaned.csv created!

In [97]:
#Challenge 2: Data with Newlines Inside Fields
people_with_newlines = [
    ["Name", "Comment"],
    ["Mike", "Great,\nAwesome Experience!"],
    ["Anna", "Loved it\nWould recommend"]
]

with open('people_newlines.csv', 'w', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(people_with_newlines)

print("âœ… people_newlines.csv created!")

âœ… people_newlines.csv created!

In [15]:
import csv
with open('example.csv', mode='w', newline='') as file:
    writer = csv.writer(file, delimiter=',', quotechar='"', quoting=csv.QUOTE_ALL)
    writer.writerow(['Name', 'Age', 'Description'])
    writer.writerow([' Jane Smith', 34, '456", Oak St.'])  # Address contains a quote

In [21]:
with open('example.csv', mode='r', newline='') as file:
    reader = csv.reader(file, delimiter=',', quotechar="'", quoting=csv.QUOTE_ALL,skipinitialspace=True,strict=True)
    fields = next(reader) #columns names
    print(fields)
    for row in reader:
        print(row)

['"Name"', '"Age"', '"Description"']
['" Jane Smith"', '"34"', '"456""', 'Oak St."']